/* some style */
html,
body{
  background-color:#444;
  color:#00FA9A;
  height:100% !important ;
}
h1 {
  font-weight:1;
  text-decoration: underline;
  text-decoration-color: #20B2AA;
}

#app{
  height:100%;
}
.box{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .content{
  flex: 1 1 auto;
}

.arena{
  /* height: 600px; */
  background: url("../images/waterfall.jpg");
  /* background-position: center; */
  background-size: cover;
  /* position: relative; */
}

.platform {
  position: absolute;
  height: 100px;
  left: 150px;
  right: 150px;
  background-color: #444;
  bottom: 100px;
}

.main {
  margin-top:80px;
}
.character-pick {
  width: 100%;
  height: 400px;
  /* background-color: white; */
}
.full-h{
  height:100%;
}

.arena canvas{
  /* width: 100%; */
  /* height: 100%; */
}
